<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kalkulator</title>
</head>
<body>
    <form>
        Vnesi operacijo: <input type="text" id="vneseno_operacija" name="vneseno_operacija"><br /><br />
        Vnesi 1. število: <input type="text" id="vneseno_1stevilo" name="vneseno_1stevilo"><br /><br />
        Vnesi 2. število: <input type="text" id="vneseno_2stevilo" name="vneseno_2stevilo"><br /><br />
        <input type="submit" value="Izracunaj"/>
    </form>
</body>
</html>